<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a1a2bd4f122d5e303bd3a2ad2204f2e4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a1a2bd4f122d5e303bd3a2ad2204f2e4" ></div>
        
</body>
<script>
    
    
            var map_a1a2bd4f122d5e303bd3a2ad2204f2e4 = L.map(
                "map_a1a2bd4f122d5e303bd3a2ad2204f2e4",
                {
                    center: [23.6978, 120.9605],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_add51b42d132addcf2b389e77666f003 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_add51b42d132addcf2b389e77666f003.addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
            var marker_970904bde9e068fb9061dea1d7e1bfb6 = L.marker(
                [25.04776, 121.517],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_c16ee99fbbed9cb48c280168ebf69fa4 = L.popup({"maxWidth": "100%"});

        
            
                var html_34a951e5e7039649eeee3db9dc17dd63 = $(`<div id="html_34a951e5e7039649eeee3db9dc17dd63" style="width: 100.0%; height: 100.0%;">臺北市</div>`)[0];
                popup_c16ee99fbbed9cb48c280168ebf69fa4.setContent(html_34a951e5e7039649eeee3db9dc17dd63);
            
        

        marker_970904bde9e068fb9061dea1d7e1bfb6.bindPopup(popup_c16ee99fbbed9cb48c280168ebf69fa4)
        ;

        
    
    
            marker_970904bde9e068fb9061dea1d7e1bfb6.bindTooltip(
                `<div>
                     臺北市 的天氣狀況：多雲時晴
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_928b41991f91f2f6903b69f5bb824774 = L.marker(
                [25.012, 121.4624],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_b557767371674efcbdc73f582922b4bc = L.popup({"maxWidth": "100%"});

        
            
                var html_0b0aae314753aa01cb14dcb488ddca44 = $(`<div id="html_0b0aae314753aa01cb14dcb488ddca44" style="width: 100.0%; height: 100.0%;">新北市</div>`)[0];
                popup_b557767371674efcbdc73f582922b4bc.setContent(html_0b0aae314753aa01cb14dcb488ddca44);
            
        

        marker_928b41991f91f2f6903b69f5bb824774.bindPopup(popup_b557767371674efcbdc73f582922b4bc)
        ;

        
    
    
            marker_928b41991f91f2f6903b69f5bb824774.bindTooltip(
                `<div>
                     新北市 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_681a182607691ea9317d03f7f11b2b68 = L.marker(
                [24.9932, 121.3005],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_49b169e714b09d66386b68a0533fd355 = L.popup({"maxWidth": "100%"});

        
            
                var html_2f698dad55cb52a5b9935f0b89549a22 = $(`<div id="html_2f698dad55cb52a5b9935f0b89549a22" style="width: 100.0%; height: 100.0%;">桃園市</div>`)[0];
                popup_49b169e714b09d66386b68a0533fd355.setContent(html_2f698dad55cb52a5b9935f0b89549a22);
            
        

        marker_681a182607691ea9317d03f7f11b2b68.bindPopup(popup_49b169e714b09d66386b68a0533fd355)
        ;

        
    
    
            marker_681a182607691ea9317d03f7f11b2b68.bindTooltip(
                `<div>
                     桃園市 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b96dd81e0dfa3c26bb6b97978a0e3fb7 = L.marker(
                [24.1465, 120.684],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_d15d5244b394b4ac0ab598586f60faeb = L.popup({"maxWidth": "100%"});

        
            
                var html_9b2c77c8805927f47f4ac4cc1621b3ea = $(`<div id="html_9b2c77c8805927f47f4ac4cc1621b3ea" style="width: 100.0%; height: 100.0%;">臺中市</div>`)[0];
                popup_d15d5244b394b4ac0ab598586f60faeb.setContent(html_9b2c77c8805927f47f4ac4cc1621b3ea);
            
        

        marker_b96dd81e0dfa3c26bb6b97978a0e3fb7.bindPopup(popup_d15d5244b394b4ac0ab598586f60faeb)
        ;

        
    
    
            marker_b96dd81e0dfa3c26bb6b97978a0e3fb7.bindTooltip(
                `<div>
                     臺中市 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd910d262435813a4a9f3d0dd1e2d69b = L.marker(
                [23.0011, 120.2037],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_809458e95a9456c0160a8461c0269cbc = L.popup({"maxWidth": "100%"});

        
            
                var html_79e97e076b8127a40146c9373e772f0c = $(`<div id="html_79e97e076b8127a40146c9373e772f0c" style="width: 100.0%; height: 100.0%;">臺南市</div>`)[0];
                popup_809458e95a9456c0160a8461c0269cbc.setContent(html_79e97e076b8127a40146c9373e772f0c);
            
        

        marker_bd910d262435813a4a9f3d0dd1e2d69b.bindPopup(popup_809458e95a9456c0160a8461c0269cbc)
        ;

        
    
    
            marker_bd910d262435813a4a9f3d0dd1e2d69b.bindTooltip(
                `<div>
                     臺南市 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f44f6e160348bb687dcc24be5bc626a7 = L.marker(
                [22.6203, 120.31],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_d6db6ac51910e26ec09bdb311f84e71b = L.popup({"maxWidth": "100%"});

        
            
                var html_80c36ff22b57d400cc405ed25f25c4eb = $(`<div id="html_80c36ff22b57d400cc405ed25f25c4eb" style="width: 100.0%; height: 100.0%;">高雄市</div>`)[0];
                popup_d6db6ac51910e26ec09bdb311f84e71b.setContent(html_80c36ff22b57d400cc405ed25f25c4eb);
            
        

        marker_f44f6e160348bb687dcc24be5bc626a7.bindPopup(popup_d6db6ac51910e26ec09bdb311f84e71b)
        ;

        
    
    
            marker_f44f6e160348bb687dcc24be5bc626a7.bindTooltip(
                `<div>
                     高雄市 的天氣狀況：晴時多雲
最高溫度：29°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_458499b7a24a013a6a38b5d6a79d09a1 = L.marker(
                [25.133, 121.7418],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_6963c2e8955b4a981c8fee194e2c45cd = L.popup({"maxWidth": "100%"});

        
            
                var html_da46ae5e24faecd8150e9b202294db17 = $(`<div id="html_da46ae5e24faecd8150e9b202294db17" style="width: 100.0%; height: 100.0%;">基隆市</div>`)[0];
                popup_6963c2e8955b4a981c8fee194e2c45cd.setContent(html_da46ae5e24faecd8150e9b202294db17);
            
        

        marker_458499b7a24a013a6a38b5d6a79d09a1.bindPopup(popup_6963c2e8955b4a981c8fee194e2c45cd)
        ;

        
    
    
            marker_458499b7a24a013a6a38b5d6a79d09a1.bindTooltip(
                `<div>
                     基隆市 的天氣狀況：多雲短暫陣雨
最高溫度：26°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_709358d1eb75db84399f1c0563cd4aca = L.marker(
                [24.8038, 120.969],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_c35e6e41c842af99677757ebe89f615b = L.popup({"maxWidth": "100%"});

        
            
                var html_7b32864c7c6681beb068b60043c6f1d8 = $(`<div id="html_7b32864c7c6681beb068b60043c6f1d8" style="width: 100.0%; height: 100.0%;">新竹市</div>`)[0];
                popup_c35e6e41c842af99677757ebe89f615b.setContent(html_7b32864c7c6681beb068b60043c6f1d8);
            
        

        marker_709358d1eb75db84399f1c0563cd4aca.bindPopup(popup_c35e6e41c842af99677757ebe89f615b)
        ;

        
    
    
            marker_709358d1eb75db84399f1c0563cd4aca.bindTooltip(
                `<div>
                     新竹市 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90241e5efbd2305d1e3b6029e034ae6a = L.marker(
                [23.4824, 120.4333],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_34cb02f0b2a78683c1aeb1e63b70d264 = L.popup({"maxWidth": "100%"});

        
            
                var html_38f9d95f20e712c7d976830e9e741465 = $(`<div id="html_38f9d95f20e712c7d976830e9e741465" style="width: 100.0%; height: 100.0%;">嘉義市</div>`)[0];
                popup_34cb02f0b2a78683c1aeb1e63b70d264.setContent(html_38f9d95f20e712c7d976830e9e741465);
            
        

        marker_90241e5efbd2305d1e3b6029e034ae6a.bindPopup(popup_34cb02f0b2a78683c1aeb1e63b70d264)
        ;

        
    
    
            marker_90241e5efbd2305d1e3b6029e034ae6a.bindTooltip(
                `<div>
                     嘉義市 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e0c6cdfbdbbb4f3b3df8f0181ecb104f = L.marker(
                [24.8038, 121.0],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_4b794ab9cff3df44a5b0b892c8ce8536 = L.popup({"maxWidth": "100%"});

        
            
                var html_2fa19af2a5a8a38141f11a0693d1d4c6 = $(`<div id="html_2fa19af2a5a8a38141f11a0693d1d4c6" style="width: 100.0%; height: 100.0%;">新竹縣</div>`)[0];
                popup_4b794ab9cff3df44a5b0b892c8ce8536.setContent(html_2fa19af2a5a8a38141f11a0693d1d4c6);
            
        

        marker_e0c6cdfbdbbb4f3b3df8f0181ecb104f.bindPopup(popup_4b794ab9cff3df44a5b0b892c8ce8536)
        ;

        
    
    
            marker_e0c6cdfbdbbb4f3b3df8f0181ecb104f.bindTooltip(
                `<div>
                     新竹縣 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_13a594457f6336a756cce98256b46c73 = L.marker(
                [24.5682, 120.8208],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_d964513df052c8a4e7ce97939b14ce36 = L.popup({"maxWidth": "100%"});

        
            
                var html_991d61dcf1337131de1a63ecd6b12f61 = $(`<div id="html_991d61dcf1337131de1a63ecd6b12f61" style="width: 100.0%; height: 100.0%;">苗栗縣</div>`)[0];
                popup_d964513df052c8a4e7ce97939b14ce36.setContent(html_991d61dcf1337131de1a63ecd6b12f61);
            
        

        marker_13a594457f6336a756cce98256b46c73.bindPopup(popup_d964513df052c8a4e7ce97939b14ce36)
        ;

        
    
    
            marker_13a594457f6336a756cce98256b46c73.bindTooltip(
                `<div>
                     苗栗縣 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c450fd005dd5b32673d7841432976c69 = L.marker(
                [24.0694, 120.54],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_04f72d23eb1be1eb83d039dd1b147167 = L.popup({"maxWidth": "100%"});

        
            
                var html_d0e2e733be6308a4b7a6cf338c6e22b0 = $(`<div id="html_d0e2e733be6308a4b7a6cf338c6e22b0" style="width: 100.0%; height: 100.0%;">彰化縣</div>`)[0];
                popup_04f72d23eb1be1eb83d039dd1b147167.setContent(html_d0e2e733be6308a4b7a6cf338c6e22b0);
            
        

        marker_c450fd005dd5b32673d7841432976c69.bindPopup(popup_04f72d23eb1be1eb83d039dd1b147167)
        ;

        
    
    
            marker_c450fd005dd5b32673d7841432976c69.bindTooltip(
                `<div>
                     彰化縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30187469eaaf3a86467bd610c684263b = L.marker(
                [23.9, 120.8],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_a981852a8cc3ccb24003fa006a29cacc = L.popup({"maxWidth": "100%"});

        
            
                var html_535a83e025748d921ec4754e057a8202 = $(`<div id="html_535a83e025748d921ec4754e057a8202" style="width: 100.0%; height: 100.0%;">南投縣</div>`)[0];
                popup_a981852a8cc3ccb24003fa006a29cacc.setContent(html_535a83e025748d921ec4754e057a8202);
            
        

        marker_30187469eaaf3a86467bd610c684263b.bindPopup(popup_a981852a8cc3ccb24003fa006a29cacc)
        ;

        
    
    
            marker_30187469eaaf3a86467bd610c684263b.bindTooltip(
                `<div>
                     南投縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_884d08119049ee6c5b5d7314728767f8 = L.marker(
                [23.7, 120.45],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_769b5c18122091839c8ba3ed2bf0e4e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_52161e7ca270f64bccb0b5f86d61e2ab = $(`<div id="html_52161e7ca270f64bccb0b5f86d61e2ab" style="width: 100.0%; height: 100.0%;">雲林縣</div>`)[0];
                popup_769b5c18122091839c8ba3ed2bf0e4e7.setContent(html_52161e7ca270f64bccb0b5f86d61e2ab);
            
        

        marker_884d08119049ee6c5b5d7314728767f8.bindPopup(popup_769b5c18122091839c8ba3ed2bf0e4e7)
        ;

        
    
    
            marker_884d08119049ee6c5b5d7314728767f8.bindTooltip(
                `<div>
                     雲林縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc6b1388e02f7da33f75c21158ebb362 = L.marker(
                [23.5, 120.35],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_7122104ba0eb5f69f87dc3d5a4cf0cf2 = L.popup({"maxWidth": "100%"});

        
            
                var html_8af7945222a794d3f79edf1b70b3f25d = $(`<div id="html_8af7945222a794d3f79edf1b70b3f25d" style="width: 100.0%; height: 100.0%;">嘉義縣</div>`)[0];
                popup_7122104ba0eb5f69f87dc3d5a4cf0cf2.setContent(html_8af7945222a794d3f79edf1b70b3f25d);
            
        

        marker_cc6b1388e02f7da33f75c21158ebb362.bindPopup(popup_7122104ba0eb5f69f87dc3d5a4cf0cf2)
        ;

        
    
    
            marker_cc6b1388e02f7da33f75c21158ebb362.bindTooltip(
                `<div>
                     嘉義縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44668c9f16f6020c2e6ac1965a145d41 = L.marker(
                [22.67, 120.5],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_dc4a612b77c110f4ac8d000c447e479f = L.popup({"maxWidth": "100%"});

        
            
                var html_d74defebd75b89973d1d6f6e801dec39 = $(`<div id="html_d74defebd75b89973d1d6f6e801dec39" style="width: 100.0%; height: 100.0%;">屏東縣</div>`)[0];
                popup_dc4a612b77c110f4ac8d000c447e479f.setContent(html_d74defebd75b89973d1d6f6e801dec39);
            
        

        marker_44668c9f16f6020c2e6ac1965a145d41.bindPopup(popup_dc4a612b77c110f4ac8d000c447e479f)
        ;

        
    
    
            marker_44668c9f16f6020c2e6ac1965a145d41.bindTooltip(
                `<div>
                     屏東縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc618c054b161cbc3d29c7a5069c29ca = L.marker(
                [24.75, 121.75],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_b77967968b5396e55bd4b4b92a341f4f = L.popup({"maxWidth": "100%"});

        
            
                var html_3f1ff3163d9628c7644959111d6d9213 = $(`<div id="html_3f1ff3163d9628c7644959111d6d9213" style="width: 100.0%; height: 100.0%;">宜蘭縣</div>`)[0];
                popup_b77967968b5396e55bd4b4b92a341f4f.setContent(html_3f1ff3163d9628c7644959111d6d9213);
            
        

        marker_cc618c054b161cbc3d29c7a5069c29ca.bindPopup(popup_b77967968b5396e55bd4b4b92a341f4f)
        ;

        
    
    
            marker_cc618c054b161cbc3d29c7a5069c29ca.bindTooltip(
                `<div>
                     宜蘭縣 的天氣狀況：多雲
最高溫度：26°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0f7ffe3ff99f46e4c40ced5b3840d80f = L.marker(
                [23.98, 121.58],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_856ce608573bacc3286319ead5611f60 = L.popup({"maxWidth": "100%"});

        
            
                var html_d5b61c3818f2c090bbde03cf28046b2c = $(`<div id="html_d5b61c3818f2c090bbde03cf28046b2c" style="width: 100.0%; height: 100.0%;">花蓮縣</div>`)[0];
                popup_856ce608573bacc3286319ead5611f60.setContent(html_d5b61c3818f2c090bbde03cf28046b2c);
            
        

        marker_0f7ffe3ff99f46e4c40ced5b3840d80f.bindPopup(popup_856ce608573bacc3286319ead5611f60)
        ;

        
    
    
            marker_0f7ffe3ff99f46e4c40ced5b3840d80f.bindTooltip(
                `<div>
                     花蓮縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e0c7e8eee55deae525e735735f661e34 = L.marker(
                [22.75, 121.1],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_4feced7da75a62dd71052d5379fc2ca6 = L.popup({"maxWidth": "100%"});

        
            
                var html_342a824472a5462e356f17dd84bbf70b = $(`<div id="html_342a824472a5462e356f17dd84bbf70b" style="width: 100.0%; height: 100.0%;">臺東縣</div>`)[0];
                popup_4feced7da75a62dd71052d5379fc2ca6.setContent(html_342a824472a5462e356f17dd84bbf70b);
            
        

        marker_e0c7e8eee55deae525e735735f661e34.bindPopup(popup_4feced7da75a62dd71052d5379fc2ca6)
        ;

        
    
    
            marker_e0c7e8eee55deae525e735735f661e34.bindTooltip(
                `<div>
                     臺東縣 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_27650dc435f06ddca17d84335cbabe21 = L.marker(
                [23.57, 119.6],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_89eb6021e7f979b540f5f4f5e7d268d9 = L.popup({"maxWidth": "100%"});

        
            
                var html_23c2eed2d9685a154f521e9b5af495fe = $(`<div id="html_23c2eed2d9685a154f521e9b5af495fe" style="width: 100.0%; height: 100.0%;">澎湖縣</div>`)[0];
                popup_89eb6021e7f979b540f5f4f5e7d268d9.setContent(html_23c2eed2d9685a154f521e9b5af495fe);
            
        

        marker_27650dc435f06ddca17d84335cbabe21.bindPopup(popup_89eb6021e7f979b540f5f4f5e7d268d9)
        ;

        
    
    
            marker_27650dc435f06ddca17d84335cbabe21.bindTooltip(
                `<div>
                     澎湖縣 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：26°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d2713e2efa7e9ee4119849e054cb0cb = L.marker(
                [24.45, 118.35],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_6fb2264f6543995c85cbf924fc8a6d8e = L.popup({"maxWidth": "100%"});

        
            
                var html_85fa70eb2026d388d5b138d3fa57f7aa = $(`<div id="html_85fa70eb2026d388d5b138d3fa57f7aa" style="width: 100.0%; height: 100.0%;">金門縣</div>`)[0];
                popup_6fb2264f6543995c85cbf924fc8a6d8e.setContent(html_85fa70eb2026d388d5b138d3fa57f7aa);
            
        

        marker_5d2713e2efa7e9ee4119849e054cb0cb.bindPopup(popup_6fb2264f6543995c85cbf924fc8a6d8e)
        ;

        
    
    
            marker_5d2713e2efa7e9ee4119849e054cb0cb.bindTooltip(
                `<div>
                     金門縣 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4604d91eb011914f6d4f36cd7a8c4463 = L.marker(
                [26.15, 119.95],
                {}
            ).addTo(map_a1a2bd4f122d5e303bd3a2ad2204f2e4);
        
    
        var popup_cab66f18956566cefaa0d1e27a662f0e = L.popup({"maxWidth": "100%"});

        
            
                var html_2568520f0a7b3644f470b410ff76854d = $(`<div id="html_2568520f0a7b3644f470b410ff76854d" style="width: 100.0%; height: 100.0%;">連江縣</div>`)[0];
                popup_cab66f18956566cefaa0d1e27a662f0e.setContent(html_2568520f0a7b3644f470b410ff76854d);
            
        

        marker_4604d91eb011914f6d4f36cd7a8c4463.bindPopup(popup_cab66f18956566cefaa0d1e27a662f0e)
        ;

        
    
    
            marker_4604d91eb011914f6d4f36cd7a8c4463.bindTooltip(
                `<div>
                     連江縣 的天氣狀況：陰天
最高溫度：24°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>