<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3c1a731134773bb08d8e5fbc02accd51 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3c1a731134773bb08d8e5fbc02accd51" ></div>
        
</body>
<script>
    
    
            var map_3c1a731134773bb08d8e5fbc02accd51 = L.map(
                "map_3c1a731134773bb08d8e5fbc02accd51",
                {
                    center: [23.6978, 120.9605],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9a774a59b7c376bc47ed1325144f6433 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_9a774a59b7c376bc47ed1325144f6433.addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
            var marker_bc4652eb2e82fb9d499015334b225bb5 = L.marker(
                [25.04776, 121.517],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_b4f10db17cd32ab4f55199c92fc77700 = L.popup({"maxWidth": "100%"});

        
            
                var html_cfa678bd3efb4073eb235445856f3c5e = $(`<div id="html_cfa678bd3efb4073eb235445856f3c5e" style="width: 100.0%; height: 100.0%;">臺北市</div>`)[0];
                popup_b4f10db17cd32ab4f55199c92fc77700.setContent(html_cfa678bd3efb4073eb235445856f3c5e);
            
        

        marker_bc4652eb2e82fb9d499015334b225bb5.bindPopup(popup_b4f10db17cd32ab4f55199c92fc77700)
        ;

        
    
    
            marker_bc4652eb2e82fb9d499015334b225bb5.bindTooltip(
                `<div>
                     臺北市 的天氣狀況：多雲時晴
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_825079265ad53ce9a6365b3963b9b34f = L.marker(
                [25.012, 121.4624],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_8bb37bfbf1dbd0b5a005f0f49f7cd479 = L.popup({"maxWidth": "100%"});

        
            
                var html_44fdfe60e827764b6f9694bdc4dc5ff6 = $(`<div id="html_44fdfe60e827764b6f9694bdc4dc5ff6" style="width: 100.0%; height: 100.0%;">新北市</div>`)[0];
                popup_8bb37bfbf1dbd0b5a005f0f49f7cd479.setContent(html_44fdfe60e827764b6f9694bdc4dc5ff6);
            
        

        marker_825079265ad53ce9a6365b3963b9b34f.bindPopup(popup_8bb37bfbf1dbd0b5a005f0f49f7cd479)
        ;

        
    
    
            marker_825079265ad53ce9a6365b3963b9b34f.bindTooltip(
                `<div>
                     新北市 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed19e45f3133f101e23c27cf957fad4b = L.marker(
                [24.9932, 121.3005],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_a5e34a5f96d1cc52be6c796c19c5540f = L.popup({"maxWidth": "100%"});

        
            
                var html_06f6faae33f37015dae020c81ddf49d4 = $(`<div id="html_06f6faae33f37015dae020c81ddf49d4" style="width: 100.0%; height: 100.0%;">桃園市</div>`)[0];
                popup_a5e34a5f96d1cc52be6c796c19c5540f.setContent(html_06f6faae33f37015dae020c81ddf49d4);
            
        

        marker_ed19e45f3133f101e23c27cf957fad4b.bindPopup(popup_a5e34a5f96d1cc52be6c796c19c5540f)
        ;

        
    
    
            marker_ed19e45f3133f101e23c27cf957fad4b.bindTooltip(
                `<div>
                     桃園市 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44251649beb56858fbf1fc4fc6d25ab8 = L.marker(
                [24.1465, 120.684],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_ba2403a4ef5c959ecd3867facef6db74 = L.popup({"maxWidth": "100%"});

        
            
                var html_1ad4a06725b62c73955074cc78c40ec9 = $(`<div id="html_1ad4a06725b62c73955074cc78c40ec9" style="width: 100.0%; height: 100.0%;">臺中市</div>`)[0];
                popup_ba2403a4ef5c959ecd3867facef6db74.setContent(html_1ad4a06725b62c73955074cc78c40ec9);
            
        

        marker_44251649beb56858fbf1fc4fc6d25ab8.bindPopup(popup_ba2403a4ef5c959ecd3867facef6db74)
        ;

        
    
    
            marker_44251649beb56858fbf1fc4fc6d25ab8.bindTooltip(
                `<div>
                     臺中市 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97160a72492aa25d5b40e73882b9d98c = L.marker(
                [23.0011, 120.2037],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_22fe3ea4362253000253ceb5eba16348 = L.popup({"maxWidth": "100%"});

        
            
                var html_a48baab6831b7d348eb9dbed7b238758 = $(`<div id="html_a48baab6831b7d348eb9dbed7b238758" style="width: 100.0%; height: 100.0%;">臺南市</div>`)[0];
                popup_22fe3ea4362253000253ceb5eba16348.setContent(html_a48baab6831b7d348eb9dbed7b238758);
            
        

        marker_97160a72492aa25d5b40e73882b9d98c.bindPopup(popup_22fe3ea4362253000253ceb5eba16348)
        ;

        
    
    
            marker_97160a72492aa25d5b40e73882b9d98c.bindTooltip(
                `<div>
                     臺南市 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_95d9eb3d228cba349893f9827f5d5426 = L.marker(
                [22.6203, 120.31],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_0e3de14405dac2c5789f7b0a48b46f75 = L.popup({"maxWidth": "100%"});

        
            
                var html_ad8e3f5e43d90a501cd4abce415ded4e = $(`<div id="html_ad8e3f5e43d90a501cd4abce415ded4e" style="width: 100.0%; height: 100.0%;">高雄市</div>`)[0];
                popup_0e3de14405dac2c5789f7b0a48b46f75.setContent(html_ad8e3f5e43d90a501cd4abce415ded4e);
            
        

        marker_95d9eb3d228cba349893f9827f5d5426.bindPopup(popup_0e3de14405dac2c5789f7b0a48b46f75)
        ;

        
    
    
            marker_95d9eb3d228cba349893f9827f5d5426.bindTooltip(
                `<div>
                     高雄市 的天氣狀況：晴時多雲
最高溫度：29°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e5cff97c4d26566646cfec4f3f2872d = L.marker(
                [25.133, 121.7418],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_02434cfbe646c4090e4595026cc1b16b = L.popup({"maxWidth": "100%"});

        
            
                var html_f2cfeb96213f810035c38cfe12b5b1d3 = $(`<div id="html_f2cfeb96213f810035c38cfe12b5b1d3" style="width: 100.0%; height: 100.0%;">基隆市</div>`)[0];
                popup_02434cfbe646c4090e4595026cc1b16b.setContent(html_f2cfeb96213f810035c38cfe12b5b1d3);
            
        

        marker_9e5cff97c4d26566646cfec4f3f2872d.bindPopup(popup_02434cfbe646c4090e4595026cc1b16b)
        ;

        
    
    
            marker_9e5cff97c4d26566646cfec4f3f2872d.bindTooltip(
                `<div>
                     基隆市 的天氣狀況：多雲短暫陣雨
最高溫度：26°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_26d9b37ffd20fd114fb72929ff678fbd = L.marker(
                [24.8038, 120.969],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_3ccf3282195d6544981544dd917bb8fd = L.popup({"maxWidth": "100%"});

        
            
                var html_c848f48769694dafc3eeb125f28d2711 = $(`<div id="html_c848f48769694dafc3eeb125f28d2711" style="width: 100.0%; height: 100.0%;">新竹市</div>`)[0];
                popup_3ccf3282195d6544981544dd917bb8fd.setContent(html_c848f48769694dafc3eeb125f28d2711);
            
        

        marker_26d9b37ffd20fd114fb72929ff678fbd.bindPopup(popup_3ccf3282195d6544981544dd917bb8fd)
        ;

        
    
    
            marker_26d9b37ffd20fd114fb72929ff678fbd.bindTooltip(
                `<div>
                     新竹市 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f5d9a5c6c25690ce1f24519e6c6b87a = L.marker(
                [23.4824, 120.4333],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_be9bc76b3f59f91156748cbc6e09f7d7 = L.popup({"maxWidth": "100%"});

        
            
                var html_586d0e5b5b9fce15a6041a566182f00c = $(`<div id="html_586d0e5b5b9fce15a6041a566182f00c" style="width: 100.0%; height: 100.0%;">嘉義市</div>`)[0];
                popup_be9bc76b3f59f91156748cbc6e09f7d7.setContent(html_586d0e5b5b9fce15a6041a566182f00c);
            
        

        marker_5f5d9a5c6c25690ce1f24519e6c6b87a.bindPopup(popup_be9bc76b3f59f91156748cbc6e09f7d7)
        ;

        
    
    
            marker_5f5d9a5c6c25690ce1f24519e6c6b87a.bindTooltip(
                `<div>
                     嘉義市 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_93b419e90ded1276a571eb2a92d1256e = L.marker(
                [24.8038, 121.0],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_c4d248e16f904bdcbee5fb8c651f5dfa = L.popup({"maxWidth": "100%"});

        
            
                var html_1093a14ee9f4a92d0e98c68c791e880b = $(`<div id="html_1093a14ee9f4a92d0e98c68c791e880b" style="width: 100.0%; height: 100.0%;">新竹縣</div>`)[0];
                popup_c4d248e16f904bdcbee5fb8c651f5dfa.setContent(html_1093a14ee9f4a92d0e98c68c791e880b);
            
        

        marker_93b419e90ded1276a571eb2a92d1256e.bindPopup(popup_c4d248e16f904bdcbee5fb8c651f5dfa)
        ;

        
    
    
            marker_93b419e90ded1276a571eb2a92d1256e.bindTooltip(
                `<div>
                     新竹縣 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7dfcd115201f94a1095f1d2b3f30615 = L.marker(
                [24.5682, 120.8208],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_a04090f9f9a3a8fb0d4bde2194ac0cd1 = L.popup({"maxWidth": "100%"});

        
            
                var html_350355f499033bc3c8766d12d39f2b2b = $(`<div id="html_350355f499033bc3c8766d12d39f2b2b" style="width: 100.0%; height: 100.0%;">苗栗縣</div>`)[0];
                popup_a04090f9f9a3a8fb0d4bde2194ac0cd1.setContent(html_350355f499033bc3c8766d12d39f2b2b);
            
        

        marker_e7dfcd115201f94a1095f1d2b3f30615.bindPopup(popup_a04090f9f9a3a8fb0d4bde2194ac0cd1)
        ;

        
    
    
            marker_e7dfcd115201f94a1095f1d2b3f30615.bindTooltip(
                `<div>
                     苗栗縣 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5f192b0b98158497cbff1a77dcdedea = L.marker(
                [24.0694, 120.54],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_e2809294c4bc88ef879b151efbebc637 = L.popup({"maxWidth": "100%"});

        
            
                var html_ad670ef2eda864c80f3c2850332945d4 = $(`<div id="html_ad670ef2eda864c80f3c2850332945d4" style="width: 100.0%; height: 100.0%;">彰化縣</div>`)[0];
                popup_e2809294c4bc88ef879b151efbebc637.setContent(html_ad670ef2eda864c80f3c2850332945d4);
            
        

        marker_a5f192b0b98158497cbff1a77dcdedea.bindPopup(popup_e2809294c4bc88ef879b151efbebc637)
        ;

        
    
    
            marker_a5f192b0b98158497cbff1a77dcdedea.bindTooltip(
                `<div>
                     彰化縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e351e88f06d494690169404e8fb04f2c = L.marker(
                [23.9, 120.8],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_f049484304d0c232de4aa3126ac7c6bd = L.popup({"maxWidth": "100%"});

        
            
                var html_aab429833bfd30e30a7b3a2e0afebcd9 = $(`<div id="html_aab429833bfd30e30a7b3a2e0afebcd9" style="width: 100.0%; height: 100.0%;">南投縣</div>`)[0];
                popup_f049484304d0c232de4aa3126ac7c6bd.setContent(html_aab429833bfd30e30a7b3a2e0afebcd9);
            
        

        marker_e351e88f06d494690169404e8fb04f2c.bindPopup(popup_f049484304d0c232de4aa3126ac7c6bd)
        ;

        
    
    
            marker_e351e88f06d494690169404e8fb04f2c.bindTooltip(
                `<div>
                     南投縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9b1dc2c1093a0a4b40ef0bde167da47 = L.marker(
                [23.7, 120.45],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_151fe9e1154c752c3df9f7d17ab22192 = L.popup({"maxWidth": "100%"});

        
            
                var html_a7f433f6f4f674ffc84f2f12c4230f1e = $(`<div id="html_a7f433f6f4f674ffc84f2f12c4230f1e" style="width: 100.0%; height: 100.0%;">雲林縣</div>`)[0];
                popup_151fe9e1154c752c3df9f7d17ab22192.setContent(html_a7f433f6f4f674ffc84f2f12c4230f1e);
            
        

        marker_e9b1dc2c1093a0a4b40ef0bde167da47.bindPopup(popup_151fe9e1154c752c3df9f7d17ab22192)
        ;

        
    
    
            marker_e9b1dc2c1093a0a4b40ef0bde167da47.bindTooltip(
                `<div>
                     雲林縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2ceaa6114fa7e71d34856176b861dc1 = L.marker(
                [23.5, 120.35],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_84916d5da12a63a2b8dca957dff65775 = L.popup({"maxWidth": "100%"});

        
            
                var html_1031fbb8655f809e9ad3205ddc71cec9 = $(`<div id="html_1031fbb8655f809e9ad3205ddc71cec9" style="width: 100.0%; height: 100.0%;">嘉義縣</div>`)[0];
                popup_84916d5da12a63a2b8dca957dff65775.setContent(html_1031fbb8655f809e9ad3205ddc71cec9);
            
        

        marker_a2ceaa6114fa7e71d34856176b861dc1.bindPopup(popup_84916d5da12a63a2b8dca957dff65775)
        ;

        
    
    
            marker_a2ceaa6114fa7e71d34856176b861dc1.bindTooltip(
                `<div>
                     嘉義縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a49ba01a373f8cb302b95403fbb6bbdb = L.marker(
                [22.67, 120.5],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_a3481f0e1afbc50fc4e452c0686d61db = L.popup({"maxWidth": "100%"});

        
            
                var html_0ed84d43586ac3f84780df69064b23ce = $(`<div id="html_0ed84d43586ac3f84780df69064b23ce" style="width: 100.0%; height: 100.0%;">屏東縣</div>`)[0];
                popup_a3481f0e1afbc50fc4e452c0686d61db.setContent(html_0ed84d43586ac3f84780df69064b23ce);
            
        

        marker_a49ba01a373f8cb302b95403fbb6bbdb.bindPopup(popup_a3481f0e1afbc50fc4e452c0686d61db)
        ;

        
    
    
            marker_a49ba01a373f8cb302b95403fbb6bbdb.bindTooltip(
                `<div>
                     屏東縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_23eb35cdbac6fdeb2a8987e4631622f8 = L.marker(
                [24.75, 121.75],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_8d199070bf0aef56205b5dcbba2ec4f9 = L.popup({"maxWidth": "100%"});

        
            
                var html_e3bbdebae75ba6a2b0d3997e7a28063c = $(`<div id="html_e3bbdebae75ba6a2b0d3997e7a28063c" style="width: 100.0%; height: 100.0%;">宜蘭縣</div>`)[0];
                popup_8d199070bf0aef56205b5dcbba2ec4f9.setContent(html_e3bbdebae75ba6a2b0d3997e7a28063c);
            
        

        marker_23eb35cdbac6fdeb2a8987e4631622f8.bindPopup(popup_8d199070bf0aef56205b5dcbba2ec4f9)
        ;

        
    
    
            marker_23eb35cdbac6fdeb2a8987e4631622f8.bindTooltip(
                `<div>
                     宜蘭縣 的天氣狀況：多雲
最高溫度：26°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79305ffa068d80bb81ca2ee85add620b = L.marker(
                [23.98, 121.58],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_dbc9fba56196d8936f2382373d12b63c = L.popup({"maxWidth": "100%"});

        
            
                var html_cdd0ff20d5811bc658b90e77429c9edb = $(`<div id="html_cdd0ff20d5811bc658b90e77429c9edb" style="width: 100.0%; height: 100.0%;">花蓮縣</div>`)[0];
                popup_dbc9fba56196d8936f2382373d12b63c.setContent(html_cdd0ff20d5811bc658b90e77429c9edb);
            
        

        marker_79305ffa068d80bb81ca2ee85add620b.bindPopup(popup_dbc9fba56196d8936f2382373d12b63c)
        ;

        
    
    
            marker_79305ffa068d80bb81ca2ee85add620b.bindTooltip(
                `<div>
                     花蓮縣 的天氣狀況：晴時多雲
最高溫度：28°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2c0f3d80337f27774104fab5f68f6cc4 = L.marker(
                [22.75, 121.1],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_99cc1fa8b87f7924df4f6bc2403bf8c7 = L.popup({"maxWidth": "100%"});

        
            
                var html_6ad7b1ab18b04dca214b37c48b92a109 = $(`<div id="html_6ad7b1ab18b04dca214b37c48b92a109" style="width: 100.0%; height: 100.0%;">臺東縣</div>`)[0];
                popup_99cc1fa8b87f7924df4f6bc2403bf8c7.setContent(html_6ad7b1ab18b04dca214b37c48b92a109);
            
        

        marker_2c0f3d80337f27774104fab5f68f6cc4.bindPopup(popup_99cc1fa8b87f7924df4f6bc2403bf8c7)
        ;

        
    
    
            marker_2c0f3d80337f27774104fab5f68f6cc4.bindTooltip(
                `<div>
                     臺東縣 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_859d19b220ec68a85311e57bc752825c = L.marker(
                [23.57, 119.6],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_31db31fe2b35de73042a81d70b2758d7 = L.popup({"maxWidth": "100%"});

        
            
                var html_e4a07c114d0cebc59b2e46d4e4ffe208 = $(`<div id="html_e4a07c114d0cebc59b2e46d4e4ffe208" style="width: 100.0%; height: 100.0%;">澎湖縣</div>`)[0];
                popup_31db31fe2b35de73042a81d70b2758d7.setContent(html_e4a07c114d0cebc59b2e46d4e4ffe208);
            
        

        marker_859d19b220ec68a85311e57bc752825c.bindPopup(popup_31db31fe2b35de73042a81d70b2758d7)
        ;

        
    
    
            marker_859d19b220ec68a85311e57bc752825c.bindTooltip(
                `<div>
                     澎湖縣 的天氣狀況：晴時多雲
最高溫度：26°C
最低溫度：26°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0884744adef8b3db4cd2cd76008f004a = L.marker(
                [24.45, 118.35],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_3cf297ca8adf9378995bd48b3222bb3b = L.popup({"maxWidth": "100%"});

        
            
                var html_7d9e0de1a7e25fbc6f20d36dda39a4bb = $(`<div id="html_7d9e0de1a7e25fbc6f20d36dda39a4bb" style="width: 100.0%; height: 100.0%;">金門縣</div>`)[0];
                popup_3cf297ca8adf9378995bd48b3222bb3b.setContent(html_7d9e0de1a7e25fbc6f20d36dda39a4bb);
            
        

        marker_0884744adef8b3db4cd2cd76008f004a.bindPopup(popup_3cf297ca8adf9378995bd48b3222bb3b)
        ;

        
    
    
            marker_0884744adef8b3db4cd2cd76008f004a.bindTooltip(
                `<div>
                     金門縣 的天氣狀況：晴時多雲
最高溫度：27°C
最低溫度：25°C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3d711aa81a6afef10dc4bc02c6162a8c = L.marker(
                [26.15, 119.95],
                {}
            ).addTo(map_3c1a731134773bb08d8e5fbc02accd51);
        
    
        var popup_e50f4a3161d7da16738fb9cd80774e95 = L.popup({"maxWidth": "100%"});

        
            
                var html_a3452a98546cbb9ba88b402bbf26a65e = $(`<div id="html_a3452a98546cbb9ba88b402bbf26a65e" style="width: 100.0%; height: 100.0%;">連江縣</div>`)[0];
                popup_e50f4a3161d7da16738fb9cd80774e95.setContent(html_a3452a98546cbb9ba88b402bbf26a65e);
            
        

        marker_3d711aa81a6afef10dc4bc02c6162a8c.bindPopup(popup_e50f4a3161d7da16738fb9cd80774e95)
        ;

        
    
    
            marker_3d711aa81a6afef10dc4bc02c6162a8c.bindTooltip(
                `<div>
                     連江縣 的天氣狀況：陰天
最高溫度：24°C
最低溫度：24°C
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>